{{>nav }}

<div class="jumbotron text-center">
  <div class="overlay"></div>
  <div class="background-image"></div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>NFL News</p>
  </div>
</div>
<div class="container-fluid article-container">
  <div class="alert alert-warning text-center">
    <h4>Uh Oh. Looks like we don't have any new articles.</h4>
  </div>
  <div class="card">
    <div class="card-header text-center">
      <h3>What Would You Like To Do?</h3>
    </div>
    <div class="card-body text-center">
      <h4>
        <a class="scrape-new">Try Scraping New Articles</a>
      </h4>
      <h4>
        <a href="/saved">Go to Saved Articles</a>
      </h4>
    </div>
  </div>
  {{!-- {{#each article}}
  <div class="card">
    <img class="cardImg" src={{this.img}}>
    <div class="card-header">
      <h3>
        <a class="article-link" target="_blank" rel="noopener noreferrer" href={{this.link}}>
          {{this.title}}
        </a>
        <form action="/articles/save" method="POST">
          <input name="_id" value={{this._id}} type="hidden">
          <input class="btn save btn-success">Save Article</input>
        </form>
      </h3>
    </div>
  </div>
  {{/each}} --}}
</div>

{{> footer}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/index.js"></script>